/.emacs.desktop
/.session
/.smex
*.elc
*~
.*.lock
/custom.el
/proxy
/history
/recentf
/projectile-bookmarks.eld
/projectile.cache
/anaconda-mode
/elpa
/elpa-*
/transient
/auto-save-list
/server
/eshell
/.cache
/.extension
/.dap-breakpoints
/.lsp-session-v1
/eln-cache
/projects
/local-snippets
/image-dired
/tramp
